<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/styles/home.css" />
    <script src="/scripts/chat.js" defer></script>
  </head>
  <body>
    <%- include('partials/header') %>

    <% if (user) { %>
      <div id="auth-container">
        <div id="left">
          <%- include('partials/lobbyList') %>
          <div id="create-game-button-container">
            <button id="create-game-button">Create a game</button>
          </div>
        </div>
        <div id="middle">
          <%- include('partials/activeGamesList') %>
        </div>
        <div id="right">
          <% if (messages || messages == null) {%>
            <%- include('partials/chat', { chatMessages: messages, roomId: 0 } ) %>
          <% }%>
        </div>
      </div>

      <%- include('partials/createGame') %>
      <%- include('partials/protectedGameForm') %>
    <%} %>

    <script src="/home.js" type="module"></script>
  </body>
</html>
