<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lobby</title>
    <link rel="stylesheet" type="text/css" href="/styles/lobby.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/styles/home.css" /> -->
    <script src="/scripts/chat.js" defer></script>
  </head>
  <body>
    <%- include('partials/header') %>

    <h1 id="game-name"><%- gameName %></h1>
    <h2>Party Members:</h2>
    <div id = "player-container">
      <% players.forEach(player => { %>
        <div class="player-card-container">
          <img
            class="player-card"
            src= <%= player.image %>
            alt= <%= player.username %>
          />
          <p class="player-name">
            <%= player.username %>
          </p>
        </div>
      <% }); %>

      <p id="player-count">
        <%= players.length %> / <%= maxPlayers %>
      </p>
    </div>
    <div class="bottom-container">
      <%- include('partials/chat', { chatMessages: messages, roomId: gameId } ) %>
      <div id="lobby-button-container">
        <button id="start-button" <%= (players.length === 1) ? 'disabled' : '' %> >Start Game</button>
      </div>
    </div>

    <input type="hidden" name="game-id" id="game-id" value="<%= gameId %>" />
    <script type="module" src="/lobby.js"></script>
  </body>
</html>
